extends ss

block content
    //- #form.vh-100(style='background-color: #6D72C3;')
    form.vh-100.needs-validation( novalidate)
        .container.py-5.h-100
            .row.d-flex.justify-content-center.align-items-center.h-100
                .col-12.col-md-8.col-lg-6.col-xl-5
                    .card(style='border-radius: 1rem;')
                        .card-body.p-5.text-center
                    
                            .text-center.pt-5.mb-5.pb-1
                                a.btn.btn-info.btn-block.fa-lg.gradient-custom-2.mb-3(href="/register-candidate") 候選人才註冊
                                a.btn.btn-secondary.btn-block.fa-lg.gradient-custom-2.mb-3(href = "/register-company") 公司註冊
                                
